{{extend 'layout.html'}}

{{=form.custom.begin}}

<body class="grey lighten-3">
<h5 class="header col s12 light">Cadastrar Equipamento</h5>
<br><br><br><br>
<div class="container">
	<div class="container">
		<div class="card-panel hoverable"><br>
		<div class="row">
			<div class="container">
				<div style="text-align: center;"><i class="large material-icons" style="color:#0d47a1;">build</i><br><br>
		  </div>

			<div class="row">
				<div class="input-field col s12">
					{{=form.custom.widget.fornecedor}}
				<label>Fornecedor</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					{{=form.custom.widget.descricao}}
				<label>Descrição</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					{{=form.custom.widget.tag}}
				<label>TAG do Equipamento</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					{{=form.custom.widget.ax_cod}}
				<label>Código do AX</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12 validate">
					<br>
					{{=form.custom.widget.itens}}
				<label>Itens</label>
				</div>
			</div>

	</div>
		</div>
		<br>
		<div class="right">

		</div>
			</div> 	<!-- Fim do card -->
			<br>
			<div class="right">
				<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
					<i class="material-icons right">send</i>
			  </button>
			</div>

 			</div>
 		</div>
 	<br>

	</div>
</div>
</div>
</div>
 <br><br><br><br>
 <script>
 $(document).ready(function() {
 	$('select').material_select();
 })
 </script>
</body>



{{=form.custom.end}}
