<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Rastema</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/Rastema/static/css/materialize-front.css" type="text/css" rel="stylesheet"
      media="screen,projection">
    <link href="/Rastema/static/css/style-front.css" type="text/css" rel="stylesheet"
      media="screen,projection">
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container"> <a id="logo-container" href="#" class="brand-logo">Consórcio Integrar</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container"> <br>
          <br>
          <h1 class="header center teal-text text-lighten-2">RASTEMA</h1>
          <div class="row center">
            <h5 class="header col s12 light">Sistema Integrado de Rastreabilidade de Equipamentos </h5>
          </div>
          <div class="row center"> <a href="/Rastema/default/level.html"
              id="download-button" class="btn-large waves-effect waves-light blue">Iniciar</a> </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img alt="My Logo" src="/Rastema/static/images/integrar.png"></div>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="color:#2196f3">flash_on</i></h2>
              <h5 class="center">Ferramentas rápidas</h5>
              <p class="light">Eu dou dinheiro pra minha filha. Eu dou dinheiro pra ela viajar, então é... é... Já vivi muito sem dinheiro, já vivi muito com dinheiro. -Jornalista: Coloca esse dinheiro na poupança que a senhora ganha R$10 mil por mês. -Dilma: O que que é R$10 mil?
</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="color:#2196f3">shopping_cart</i></h2>
              <h5 class="center">Gestão de ferramentas</h5>
              <p class="light">No meu xinélo da humildade eu gostaria muito de ver o Neymar e o Ganso. Por que eu acho que.... 11 entre 10 brasileiros gostariam. Você veja, eu já vi, parei de ver. Voltei a ver, e acho que o Neymar e o Ganso têm essa capacidade de fazer a gente olhar.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="color:#2196f3">settings</i></h2>
              <h5 class="center">Fácil de trabalhar</h5>
              <p class="light">Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
</p>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h4 style="text-align: center;">Um sistema moderno para controle de suas
          locações</h4>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam
              pellentesque tristique arcu, non consequat magna fermentum ac.
              Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
              id, viverra ultrices eros. Morbi sem neque, posuere et pretium
              eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin
              diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
              Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat.
              Nullam eget dignissim mauris, non tristique erat. Vestibulum ante
              ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              Curae;</p>
            <p class="left-align light"><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Consórcio Integrar Offshore</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Informações</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/IntegrarOffshore/Rastema/blob/master/LICENSE">Licença sobre uso do software</a></li>
              <li><a class="white-text" href="https://github.com/Alzemand/Rastema">Código fonte do Software</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"> Edilson Alzemand S. JR.
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/Rastema/static/js/materialize-front.js"></script>
    <script src="/Rastema/static/js/init-front.js"></script>
  </body>
</html>
